*{
    padding: 0;
    margin: 0;
}

#cold{
    overflow: hidden;

}

body{
    background: radial-gradient(to left red blue);
    background-color: lawngreen;
}

#cold figure{

    display: flex;
    width: 400%;
    animation: colded 4s   infinite ;
    position: relative;
    animation-direction: reverse;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

}

#cold figure img {
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    

}

@keyframes colded {

   0%{
      left: 0;
     
  }
  33%{
      left: -100%;
      
  }
  66%{
      left: -200%;
      
  }
  100%{
      left:-300%;
      
  } 

}
